<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>please enter email & password </h6>
                </div>
                <form  [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email address</label>
                        <input  formControlName="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small><br>
                    <span class="text-danger"  *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError ('required')">*Email Id is required</span>  
                    </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">Password</label>
                        <input  formControlName="Password" type="password" class="form-control" id="exampleInputPassword">
                    <span class="text-danger"  *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError ('required')">*Password is required</span>  

                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary"  [disabled]="!loginForm.valid">Login</button>
                </form>
                <a  style="color:white;margin-top: 10px;"  routerLink="/signup">New user? click here to signup</a>
            </div>
        </div>
    </div>
</div>
